@dark: #111;
@light: #fe9;
@second: #04f;
@secScale: 30px;

body {
	/** Fuck drag **/
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	background: @dark;
	color: #eee;
	margin: 0;
	font: normal 15px/1.4em Tahoma, Geneva, sans-serif;
	height: 100%;
}

html {
	height: 100%;
}

@videoWidth: 720px;
@videoHeight: floor(@videoWidth/16*9);

.main-container {
	height: 100%;
}

.top-area {
	@volumeWidth: 40px;
	width: 100%;
	height: @videoHeight;
	font-size: 0;

	.video {
		vertical-align: top;
		width:  @videoWidth;
		height: @videoHeight;
		display: inline-block;
	}

	.volume-bar {
		position: relative;
		vertical-align: top;
		display: inline-block;
		width:  @volumeWidth;
		height: @videoHeight;
		box-shadow: inset 0 0 0 1px fade(@light, 20%), inset 0 0 10px fade(@light, 30%);

		.volume {
			bottom: 0;
			width: 100%;
			position: absolute;
			background: fade(@second, 50);
		}
	}

	.info {
		box-sizing: border-box;
		padding: 5px 15px;
		overflow: auto;
		vertical-align: top;
		display: inline-block;
		width:  calc(~"100%" - (@videoWidth + @volumeWidth));
		height: @videoHeight;
		font-size: 13px;

		.key {
			margin: 5px;
			@size: 30px;
			text-align: center;
			box-sizing: border-box;
			display: inline-block;
			border: 1px solid fade(#fff, 20%);
			border-radius: 4px;
			padding: 0 8px;
			line-height: @size;
			min-width: @size;
			height: @size;
			background-image: linear-gradient(to top, fade(#fff, 4%), fade(#fff, 0%), fade(#fff, 8%));
			box-shadow:
				0px 2px 1px 2px fade(#fff, 20%),
				1px 3px 1px 0px fade(#fff, 20%);
		}
	}

	#result {
		background: #000;
		top: 0;
		width:  100%;
		height: 100%;
		
		&:-moz-full-screen {
			position: absolute;
		}

		&:-webkit-full-screen {
			position: absolute;
		}
	}
}

.timeline {

	@bgColor: mix(#fff, @dark, 5%);
	@trackHeight: 45px;
	@markHeight: 15px;
	background: @bgColor;
	height: calc(~"100%" - (@videoHeight));
	padding-left: 5px;
	position: relative;
	float: left;
	min-width: 100%;
	height: calc(~"100%" - @videoHeight);

	.position {
		z-index: 10;
		position: absolute;
		height: 100%;
		border-left: 1px solid red;

		&.drop {
			border-color: @second;
		}
	}

	.markings {
		position: relative;
		z-index: 0;
		@height: @markHeight;
		@color: mix(@light, @bgColor, 50%);
		border-bottom: 1px solid @color;
		height: 15px;

		background-image:
			linear-gradient(to right, @color 1px, transparent 1px),
			linear-gradient(to right, @color 1px, transparent 1px),
			linear-gradient(to right, @color 1px, transparent 1px);
		background-repeat: repeat-x;
		background-position:
			0px 0px,
			0px 5px,
			0px 10px;
		background-size:
			5 * @secScale 15px,
			1 * @secScale  10px,
			@secScale / 6  5px;

		.rendered {
			position: relative;
			z-index: -1;
			height: 100%;
			background: fade(@second, 30%);
		}
	}

	.track-line {
		background: fade(#000, 20%);
		white-space: nowrap;
		font-size: 0;

		&:hover {
			.buttons {
				opacity: 1;
			}

			.selected .intro, .selected .outro {
				opacity: 1;
			}
		}
	}

	.item {
		position: relative;
		box-sizing: border-box;
		height: @trackHeight;
		margin-top: 5px;
		box-shadow: inset 0 0 0 1px fade(@light, 20%);
		background-size: auto 100%;
		margin-right: 2*@trackHeight;

		.selected {
			vertical-align: top;
			display: inline-block;
			height: @trackHeight;
			position: relative;
			box-sizing: border-box;
			box-shadow: inset 0 0 0 1px fade(@light, 50%);
			background: fade(@second, 50%);
			cursor: move;

			.intro, .outro {
				display: inline-block;
				height: 100%;
				width: 50%;
				max-width: @secScale;
				position: absolute;
				box-shadow: inset 0 0 0 1px fade(@light, 50%);
				opacity: 0.2;
				cursor: pointer;
				background: fade(@dark, 20);

				&.active {
					opacity: 0.9;
				}

			}

			.intro.active {
				background: linear-gradient(to right, @dark, fade(@dark, 20));
			}

			.outro {
				right: 0;
				&.active {
					background: linear-gradient(to left, @dark, fade(@dark, 20));
				}
			}
		}

		.buttons {
			@padBottom: 5px;
			vertical-align: top;
			display: inline-block;
			color: #fff;
			line-height: @trackHeight - @padBottom;
			height: @trackHeight;
			transition: opacity 0.2s;
			background: fade(#000, 30%);
			opacity: 0;

			a {
				text-shadow:
					1px  0px 2px #000,
					0px  1px 2px #000,
					-1px 0   2px #000,
					0px -1px 2px #000;
				font-size: 25px;
				text-align: center;
				display: inline-block;
				width: @trackHeight;
				height: @trackHeight;

				&:hover {
					box-shadow: inset 0 0 0 1px fade(@light, 20%), inset 0 0 10px fade(@light, 30%);
				}

				&.cut {
					cursor: e-resize;
				}

				&.remove {
					cursor: pointer;
				}
			}

		}
	}
}